
{{#itemData}}
  <h2>{{name}}</h2>

  <h3>Time: {{cookingTime}}</h3>

  <div class="ingredients">
    <h3>Ingredients</h3>
    {{#ingredients.full}}
      <p>{{quantity}} x {{ingredient}}</p>
    {{/ingredients.full}}
    {{^ingredients.full}}
      <p>{{ingredients.basic}}</p>
    {{/ingredients.full}}
  </div>

  {{#imageUrl}}
  <img src="/{{imageUrl}}"/>
  {{/imageUrl}}

{{/itemData}}

{{^itemData}}
  <h2>Sorry, this recipe doesn't exist or may have been removed</h2>
{{/itemData}}
